html {
    margin: 0;
    background-color: black!important;
}

.body {
    background-color: black!important;
    margin: 0;
    height: 50px;
}

img {
    width: 100vw;
    height: 99vh;
}

@media screen and (max-width: 768px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
        height: 100vh
    }
}

@media screen and (min-width: 769px) {
    #desktop {
        display: block;
    }
    #mobile {
        display: none;
    }
}